In [1]:
from pyspark.sql import Row

In [2]:
row1 = Row(name="Awi", age=10)

In [3]:
row1

In [4]:
row1.name

In [5]:

Employee = Row("name","location")

In [6]:
Employee("Awi","Bangalore")

In [7]:
row1.asDict()

In [8]:
Row(name="A", val=Row(sub='Science',loc='Mumbai'))

In [9]:
# Creation of dataframes
spark.createDataFrame([('Alice',1,22),('Byom',3,66)],['name','age','salary']).show()

In [10]:
db = [{'name':'Akbar','loc':'delhi'},{ 'name' :'sikandar', 'loc':'lucknow'}]

In [11]:
spark.createDataFrame(db).show()

In [12]:
l = [('Awi',1),('Bwi',2)]

In [13]:
rdd = sc.parallelize(l)

In [14]:
Person = Row("name","age")

In [15]:
p1 = rdd.map( lambda x: Person(*x))

In [16]:
df = spark.createDataFrame(p1)

In [17]:
df.show()

In [18]:
df.select('name').show()

In [19]:
import pandas as pd

In [20]:
pdf = df.toPandas()

In [21]:
spark.createDataFrame(pdf).show()

In [22]:
data = spark.read.csv('/FileStore/tables/vc9z36401490339549155/database.csv',inferSchema=True, header=True)

In [23]:
display(data)

In [24]:
data.printSchema()

In [25]:
data.count()

In [26]:
data.columns

In [27]:
display(data.select('Relationship').distinct())