In [1]:
#SparkSession is entrypoint to DataFrames
from pyspark.sql import SparkSession
myspark = SparkSession.builder.master("local[4]").appName("FirstApp").config("info","great").getOrCreate()

In [2]:
#Create dataframe similar to parallelize
#Doen't have column information
df = spark.createDataFrame([('Awantik',1),('Awi',100)])

In [3]:
df.collect()

In [4]:
#Gets column name from key of dictionary
db = [{'name':'Awi','age':50},{'name':'Bwi','ag1':150}]
spark.createDataFrame(db).collect()

In [5]:
from pyspark.sql import Row

In [6]:
Person = Row('name','age')

In [7]:
rdd = sc.parallelize(range(10))
df = spark.createDataFrame(rdd)

In [8]:
l = range(10)
m = range(20)

rdd = sc.parallelize(zip(l,m))
df = spark.createDataFrame(rdd)

In [9]:
rdd.collect()

In [10]:
df.collect()

In [11]:
#Dataframe with only one column
#Always 
d = [(1,), (2,), (3,)]
rdd = sc.parallelize(d)
df = spark.createDataFrame(rdd)
df.collect()

In [12]:
type((1,))

In [13]:
db = {'name':'awi','age':50}
db.items()

In [14]:
d = [[1,5], [2,6], [3,8]] 
rdd = sc.parallelize(d)
df = spark.createDataFrame(rdd,['age','cost'])
df.collect()

In [15]:
rdd = sc.parallelize([('a',22),('b',44),('c',12)])
from pyspark.sql import Row
Person = Row('name','age') #Person is row object
person = rdd.map(lambda r: Person(*r))

In [16]:
df = spark.createDataFrame(person)

In [17]:
def f(*arg):
  for a in arg:
    print str(a) + 'hello'
  
f(1,2,3)


l = (5,6,7)

def g(x,y,z):
  print 'x ' + str(x) , 'y ' + str(y), 'z ' + str(z)
  
g(*l) # g(5,6,7)

In [18]:
df.toPandas()

In [19]:
#Spark Dataframes are differnt from pandas DataFrame
#pandas DataFrame is not suited for very large size of data.
#spark dataframe is solution for large scale data

In [20]:
#Convert pandas dataframe to spark dataframe
import pandas as pd
spark.createDataFrame(pd.DataFrame([[1,2]]))

In [21]:
df.collect()

In [22]:
#Create a temp table in current seeion. This table is not available across differnt session
df.createOrReplaceTempView("tab1")

In [23]:
df2  = spark.sql("SELECT name as n, age as a from tab1")

In [24]:
df2.collect()

In [25]:
spark.sql("SELECT name from tab1").collect()

In [26]:
new_df = sqlContext.range(1,20,2)

In [27]:
new_df.collect()

In [28]:
#Register Function as UDF so that it can be used in SQL statements
sqlContext.registerFunction("myLenFunc", lambda x:len(x))
sqlContext.sql("SELECT myLenFunc('hello world')").collect()

In [29]:
#A PySpark DataType
from pyspark.sql.types import IntegerType

sqlContext.registerFunction("myLenFunc", lambda x:len(x),IntegerType())
sqlContext.sql("SELECT myLenFunc('hello world')").collect()

In [30]:
sqlContext.registerDataFrameAsTable(df,"mytab")

In [31]:
sqlContext.sql("SELECT name from mytab").collect()

In [32]:
"mytab" in sqlContext.tableNames()

In [33]:
TrainingData = spark.read.csv('/FileStore/tables/49nfaoyq1489459237361/TrainingDataset.csv',header=True)

In [34]:
display(TrainingData)

In [35]:
TrainingData.printSchema()

In [36]:
startupInfo = spark.read.csv('/FileStore/tables/3mj9uqyq1489459868169/company_master_data_upto_Mar_2015_Karnataka.csv',inferSchema=True,header=True)

In [37]:
startupInfo.head()

In [38]:
display(startupInfo)

In [39]:
startupInfo.head(4)

In [40]:
startupInfo.show()

In [41]:
startupInfo.count()

In [42]:
startupInfo.columns

In [43]:
startupInfo.printSchema()

In [44]:
#Since dataframe don't have number info, its not showing much here.
#Otherwise it would have shown - count,mean,stddev,min,max
startupInfo.describe()

In [46]:
startupInfo.select('COMPANY_NAME','DATE_OF_REGISTRATION').show()

In [47]:
type(startupInfo)

In [48]:
rdd = sc.textFile('/FileStore/tables/3mj9uqyq1489459868169/company_master_data_upto_Mar_2015_Karnataka.csv')

In [49]:
rdd.count()

In [50]:
rdd.first()

In [51]:
startupInfo.select('COMPANY_CATEGORY').distinct().count()

In [52]:
startupInfo.select('COMPANY_CATEGORY').distinct().collect()

In [53]:
startCol = startupInfo['COMPANY_CATEGORY']

In [54]:
sales = spark.read.csv('/FileStore/tables/tjx2xm7a1489461154712/Predictor_variables_raw.csv',header=True,inferSchema=True)

In [55]:
sales.printSchema()

In [56]:
saleCol = sales['sales']

In [57]:
saleCol.between(300,500)

In [58]:
#First sales is your dataframes, second one is column name
sales.select(sales.sku, sales.date, sales.sales.between(300,500)).show()

In [59]:
startupInfo.printSchema()

In [60]:
startupInfo.select( startupInfo.PAIDUP_CAPITAL ).collect()

In [61]:
sales_grouped = sales.groupby('sku')

In [62]:
sales_grouped.count().collect()

In [63]:
sales_grouped.max('sales').collect()

In [64]:
type(spark)

In [65]:
sales.first()

In [66]:
sales.head(4)

In [67]:
from pyspark.sql import Row

In [68]:
l = [('a',1),('b',2),('c',4)]

In [69]:
spark.createDataFrame(l).collect()

In [70]:
r1 = Row(name="Awantik",age=33)
r2 = Row(name="Awantik",age=35)
df = spark.createDataFrame([r1,r2])
df.collect()

In [71]:
display(df)

In [72]:
df.select('age').map

In [73]:
df

In [74]:
df.show()

In [75]:
df.show()